<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Barbería Seven</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <main>
        <div class="header">
            <img src="{{ url_for('static', filename='img/banner.jpg') }}" class="logo">
            <div class="header-text">
                <h1>Barbería Seven</h1>
                <p>Reserva tu cita al instante</p>
            </div>
        </div>
        {% block content %}{% endblock %}
    </main>
</body>
</html>