{% extends "base.html" %}
{% block content %}
<div class="sede-foto">
    <img src="{{ url_for('static', filename='img/banner.jpg') }}">
    <div class="sede-overlay"><h3>{{ sede }}</h3></div>
</div>
<h2>1. Selecciona un Servicio</h2>
<div class="cards-grid">
    {% for servicio in servicios %}
    <div class="card">
        <div style="padding: 1rem;">
            <h3>{{ servicio.nombre }}</h3>
            <p>{{ servicio.duracion }} min</p>
            <div class="price"><strong>${{ servicio.precio }}</strong></div>
        </div>
        <form action="/barberos" method="POST">
            <input type="hidden" name="sede" value="{{ sede }}">
            <input type="hidden" name="servicio" value="{{ servicio.nombre }}">
            <button type="submit" class="btn">Siguiente</button>
        </form>
    </div>
    {% endfor %}
</div>
{% endblock %}